#!/bin/bash
# Carrega o script de configuração do Conda
source "/opt/homebrew/anaconda3/etc/profile.d/conda.sh"
# Ativa o ambiente
conda activate cidrcalc
# Adiciona o diretório atual ao PATH
REP_DIR=/Users/galeno/GitHub_Projects/cidrcalc
export REP_DIR
export COMPOSE_BAKE=true
PATH="/opt/homebrew/opt/libpq/bin:/opt/homebrew/anaconda3/bin:/opt/homebrew/anaconda3/condabin:.:/Users/mac/GitHub_Projects/s3d-thumbnails:/Users/Mac/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin:/Library/Apple/usr/bin:/Applications/VMware Fusion.app/Contents/Public:/Users/galeno/Library/Application Support/JetBrains/Toolbox/scripts:."
export LC_ALL="pt_BR.UTF-8"

export GOPATH="$HOME/go"
export PATH="$PATH:$GOPATH/bin"
