

# Binaries for programs and plugins
/bin/

# Build outputs
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, coverage reports and logs
*.test
*.out
coverage.out
*.prof

# Vendor directory (if using vendoring)
/vendor/

# Go workspace file
go.work
go.work.sum

# Module files
/go.sum

# IDE and editor settings
.idea/
*.iml
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Temporary files
*~

# Pricavy and Security
*key*
.*
giti.sh
env_*